.title {
  input {
    font-size: 2.5rem;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
}


.editor {
  margin: 2rem -2rem;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 1.2rem;
      color: black;
    }
    .editor-toolbar {
      border: 0;
      background-color: var(--golden);
      color: black;
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 1rem;
  }
}
